a{
    text-decoration-line: none;
    color:black;
}

h1{
      margin:0;
      font-size: 20px;
}

h2{
    font-size: 22px;
    font-weight: lighter;
    margin:0;
}

p{
    margin:0;
}

header{
    background-color: #fffaf0;
}

header .container{
    max-width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:8px 16px;
}

header .container .title{
    color: #333333;
    margin-left: 16px;
   font-size: 16px;
   font-weight: bold;
}

.container{
    max-width: 1200px;
    margin:0 auto;
    padding:16px;
}

.explain_detail{
    margin:16px 0;
    text-align: center;
}

.selectSpectra{
    padding:8px
}

.selectSpectra select{
    display: block;
    height: 25px;
    padding:4px;
    border-radius: 2px;
    font-size: 8px;
}

.explain .button-area {
    text-align: center;
    display: flex;
    justify-content: center;
    margin:20px 0;
}

.button-area {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin:20px 0;
}

.button{
    margin:0 20px;
}

.button a{
    text-decoration-line: none;
    color:#333333;
}
    
.button:hover {
    opacity: 0.7;
    cursor: pointer;
}

.button-lg {
    width:400px;
    line-height: normal;
    padding: 8px;
    border-radius: 8px;
    font-size: 16px;
    font-weight:bold;
    border: none;
    display: inline-block;
    text-align: center;
}
    
    
.button-md {
    width:100px;
    line-height: normal;
    padding: 8px;
    border-radius: 8px;
    font-size: 12px;
    font-weight:bold;
    border: none;
    /*aタグに付与した場合に見た目を揃える。*/
    display: inline-block;
    text-align: center;
}
      
.button-white {
    background-color: #fff;
    border: 1px solid #dddddd;
    color:#333333;

}
    
.color-y-bg {
    background-color: #F4D44E;
    color:#333333;

}

.input-underground,.input-condition{
    display: flex;
    justify-content: space-around;
}

@media screen and (max-width:768px){
    
.input-underground,.input-condition{
    display: block;
}
}

.stepBar {
    display: flex;
    max-width: 400px;
    position: relative;
    margin: 20px auto;
    text-align: center;
  }
  .stepBar li {
    font-size: 12px;
    list-style: none;
    position: relative;
    width: 33.333%;
  }
  .stepBar li:after {
    background: #D0E1F9;
    content: "";
    width: calc(100% - 24px);
    height: 4px;
    position: absolute;
    left: calc(-50% + 12px);
    top: 10px;
  }
  .stepBar li:first-child:after {
    display: none;
  }
  .stepBar li span {
    background: #D0E1F9;
    color: #ffffff;
    display: inline-block;
    height: 24px;
    margin-bottom: 5px;
    line-height: 24px;
    width: 24px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
  }
  .stepBar .visited:after {
    background: #4D648D;
  }
  .stepBar .visited span {
    background: #4D648D;
  }
   