<div class="selectSpectra">
    <select (change)='onSelectChange($event.target.value)'>
        <option value="g0_1">L2スペクトルⅠ(G0地盤)</option>
        <option value="g1_1">L2スペクトルⅠ(G1地盤)</option>
        <option value="g2_1">L2スペクトルⅠ(G2地盤)</option>
        <option value="g3_1">L2スペクトルⅠ(G3地盤)</option>
        <option value="g4_1">L2スペクトルⅠ(G4地盤)</option>
        <option value="g5_1">L2スペクトルⅠ(G5地盤)</option>
        <option value="g0_2">L2スペクトルⅡ(G0地盤)</option>
        <option value="g1_2">L2スペクトルⅡ(G1地盤)</option>
        <option value="g2_2">L2スペクトルⅡ(G2地盤)</option>
        <option value="g3_2">L2スペクトルⅡ(G3地盤)</option>
        <option value="g4_2">L2スペクトルⅡ(G4地盤)</option>
        <option value="g5_2" selected>L2スペクトルⅡ(G5地盤)</option>
 </select>
</div>
<div class="chart">
    <canvas baseChart
    [datasets]="lineChartData"
    [labels]="lineChartLabels"
    [colors]="lineChartColors"
    [chartType]="lineChartType"
    [options]="lineChartOptions">
    </canvas>
</div>
<div class="button-area">
    <button class="button button-md button-white" ><a href="/">解析開始</a></button>
    <button class="button button-md color-y-bg" id="spectra_file"><a #downloadLink[href]="" [download]="">ファイル保存</a></button>
</div>

