a{
    text-decoration-line: none;
    color:black;
}

h1{
      margin:0;
      font-size: 24px;
      font-weight: normal;
}

h2{
    font-size: 28px;
    font-weight: lighter;
    margin:0;
    padding-top:16px;
}

p{
    margin:0;
    padding-top:16px;
}

.mt-20{
    margin-top:24px;
}

.mb-20{
    margin-bottom:24px;
}


header{
    background-color: 	#EEE8AA;
    box-shadow: 0 0 1px rgba(0,0,0,.125), 0 1px 3px rgba(0,0,0,.2);
}

header .container{
    max-width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:0 16px;
}

header .container .title{
    color: #333333;
    margin-left: 16px;
   font-size: 16px;
   font-weight: bold;
}

.container{
    max-width: 1200px;
    margin:0 auto;
    padding:16px;
    // border-bottom: 1px solid #DAA520;

}

.explain_detail{
    margin:16px 0;
    text-align: center;
}

.selectSpectra{
    padding:8px
}

.selectSpectra select{
    display: block;
    padding:8px 12px;
    border-radius: 2px;
    background-color: #ffffff;
    font-size: 14px;
}

.explain-area:after{
    content: "";
    display: block;
    clear: both;
}

.explain-area .explain{
    float: left;
}

.explain-area.result p{
    float:right;   
    line-height: 45px;
}

.button-area {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin:20px 0;
}

.button{
    margin:0 20px;
}

.button span::after{
    opacity: 0.7;
    cursor: pointer;
}
    
.button:hover {
    opacity: 0.7;
    cursor: pointer;
}

.button-lg {
    width:400px;
    line-height: normal;
    padding: 8px;
    border-radius: 8px;
    font-size: 16px;
    font-weight:bold;
    border: none;
    display: inline-block;
    text-align: center;
}
    
    
.button-md {
    width:100px;
    line-height: normal;
    padding: 8px;
    border-radius: 8px;
    font-size: 12px;
    font-weight:bold;
    border: none;
    /*aタグに付与した場合に見た目を揃える。*/
    display: inline-block;
    text-align: center;
}
      
.button-white {
    background-color: #fff;
    border: 1px solid #dddddd;
    color:#333333;

}
    
.color-y-bg {
    background-color: #F4D44E;
    color:#333333;

}

.explain-area .button-area {
    float: right;
    text-align: center;
    display: flex;
    justify-content: center;
    margin:20px 0;
}

.sp{
    display: none;
}

@media screen and (max-width:767px){
    .sp{
        display: block;
    }
    .pc{
        display: none;
    }  
    .explain-area .explain{
        float: none;
       text-align: center;
    }

    .explain-area .button-area {
        float: none;
        text-align: center;
        display: flex;
        justify-content: center;
        margin:20px 0;
    }

    .explain-area.result p{
        float:none;
        text-align: center;   
    }
    
}


.input-underground,.input-condition{
    display: flex;
    justify-content: center;
}

.input-underground{
    flex-flow: row-reverse;
}

.underground-image{
    margin-right:32px;
}

@media screen and (max-width:767px){
    
.input-underground,.input-condition{
    display: block;
    padding:32px 0;
    text-align: center;
}

}

.stepBar {
    display: flex;
    justify-content:center;
    max-width: 400px;
    position: relative;
    margin: 0 auto;
    padding:16px 0;
    text-align: center;
  }
  .stepBar li {
    font-size: 12px;
    list-style: none;
    position: relative;
    width: 33.333%;
  }
  .stepBar li:after {
    background: #DEEFEB;
    content: "";
    width: calc(100% - 24px);
    height: 4px;
    position: absolute;
    left: calc(-50% + 12px);
    top: 10px;
  }
  .stepBar li:first-child:after {
    display: none;
  }
  .stepBar li span {
    background: #DEEFEB;
    color: #ffffff;
    display: inline-block;
    height: 24px;
    margin-bottom: 5px;
    line-height: 24px;
    width: 24px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
  }
  .stepBar .visited:after {
    background: #068080;
  }
  .stepBar .visited span {
    background: #068080;
  }

  .soilHorizon {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 16px;
  }

  .soilHorizon label{
      font-weight: bold;
  }

  .soilHorizon-input input{
      width: 100px;
      margin:0 12px 0 16px;
      padding:4px 8px;
      font-size: 16px;
  }

  .text-left{
      text-align: left;
  }

  table.result{
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
   
  }
  
  table.result th,table.result td{
    max-width: 30px;
    padding: 8px;
    text-align: center;
    font-size: 12px;
    font-weight: normal;
    border:1px solid #333333;
  }

  table.result th{
    background-color: #fffacd;
  }

  table.result td.result_number{
    width: 30px;
  }
@media screen and (max-width:767px){
  table.result th.spnone,table.result td.spnone{
    display: none;
  }
}

.condition_pc{
    display: flex;
    justify-content: center;
    
}

.condition_pc .input-condition:first-child{
    margin-right:16px;
}

.condition_pc .input-condition:last-child{
    margin-left:16px;
}

@media screen and (max-width:767px){
    .condition_pc{
        display: block;
        
    }

    .condition_pc .input-condition:first-child{
        margin-right:0;
    }
    
    .condition_pc .input-condition:last-child{
        margin-left:0;
    }
  }
  