<div class="button-area">
    <button class="button button-md color-y-bg">
    <label>    
        <span>
    ファイルを開く
    <input type="file" accept="application/json" (change)="open($event)" style="display:none" />
         </span>
    </label>
    </button>
    <!-- <label>
        <span>
            ファイルを開く
            <input type="file" accept="application/json" (change)="open($event)" style="display:none" />
        </span>
    </label> -->
    <button class="button button-md color-y-bg" id="spectra_file" (click)="save()">ファイル保存</button>
 </div>
 <ol class="stepBar">
  <li><a routerLink="/chart"><span>1</span><br>グラフ</a></li>
  <li class="visited"><a routerLink="/underground"><span>2</span><br>地下水位</a></li>
  <li ><a routerLink="/condition"> <span>3</span><br>地盤状態</a></li>
  <li><a routerLink="/result"><span>4</span><br>結果</a></li>
</ol>

<div class="input-underground">
  <div class="underground-image">
    <img src="./assets/icons/underground.jpg" with="500" height="500" alt="underground"> 
  </div>
       
  <form>
    <div>
      <label>地下水面</label>
      <div>
        <input type="number" name="aa" [(ngModel)]="watertable"/>m
      </div>
    </div>
    <div #spreadsheet></div>
    
  </form>
</div>
            <!-- <div> #spreadsheet</div> -->
    
 


    
