<ol class="stepBar">
  <li><a routerLink="/chart"><span>1</span><br>グラフ<br>(入力)</a></li>
  <li class="visited"><a routerLink="/underground"><span>2</span><br>地下水位<br>(入力)</a></li>
  <li><a routerLink="/condition"> <span>3</span><br>室内土質試験<br>(入力)</a></li>
  <li><a routerLink="/wait"><span>4</span><br>結果</a></li>
</ol>

<div class="explain-area underground">
  <div class="explain-area-title">
<h2 class="explain">地下水位データ</h2>
<button class="underground-img" (click)="view()" ><i class="fas fa-question"></i></button>
</div>
<p class="explain mb-20 pc">地下水位及び各地層厚、湿潤単位体積重量を各層毎に半角数字で入力してください。</p>
</div>

<div class="input-underground">
  <form>
    <div class="soilHorizon">
      <label>地下水位</label>:
      <div class="soilHorizon-input">
        <input type="number" name="aa" [(ngModel)]="watertable" />m
      </div>
    </div>
    <div #spreadsheet></div>
  </form>

</div>

<div class="button-area next mt-20">
  <a routerLink="/chart">  
    <button class="button button-md button-white ">
   戻る
</button></a>
  <a routerLink="/condition">  
      <button class="button button-md color-y-bg ">
     次へ
  </button></a>
</div>



