<ol class="stepBar">
  <li><a routerLink="/chart"><span>1</span><br>グラフ<br>(入力)</a></li>
  <li class="visited"><a routerLink="/underground"><span>2</span><br>地下水位<br>(入力)</a></li>
  <li><a routerLink="/condition"> <span>3</span><br>室内土質試験<br>(入力)</a></li>
  <li><a routerLink="/wait"><span>4</span><br>結果</a></li>
</ol>

<div class="explain-area mt-20">
  <h2 class="explain">地下水位データ</h2>
</div>
 
  <p class="explain mb-20 pc">下図を参考に地下水位及び各地層厚、湿潤単位体積重量を各層毎に入力してください。</p>

<div class="input-underground">
  <form>
    <div class="soilHorizon">
      <label>地下水位</label>:
      <div class="soilHorizon-input">
        <input type="number" name="aa" [(ngModel)]="watertable" />m
      </div>
    </div>
    <div #spreadsheet></div>
  </form>
  <p class="explain mt-20 sp text-left">※下図を参考に地下水位及び各地層厚、湿潤単位体積重量を各層毎に入力してください。</p>
  <div class="underground-image">
    <img src="./assets/icons/horizon.jpg" width="300" height="300" alt="地下">
    </div>
</div>
<!-- <div> #spreadsheet</div> -->

<!-- <ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Profile update</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <label for="dateOfBirth">Date of birth</label>
        <div class="input-group">
          <input id="dateOfBirth" class="form-control" placeholder="yyyy-mm-dd" name="dp" ngbDatepicker #dp="ngbDatepicker">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary calendar" (click)="dp.toggle()" type="button"></button>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
  </div>
</ng-template>

<button class="btn btn-lg btn-outline-primary" (click)="open(content)">Launch demo modal</button>

<hr>

<pre>{{ closeResult }}</pre> -->



