<ol class="stepBar">
  <li class="visited"><a routerLink="/chart"><span>1</span><br>グラフ<br>(入力)</a></li>
  <li ><a routerLink="/underground"><span>2</span><br>地下水位<br>(入力)</a></li>
  <li><a routerLink="/condition"> <span>3</span><br>室内土質試験<br>(入力)</a></li>
  <li><a routerLink="/wait"><span>4</span><br>結果</a></li>
</ol>

<div class="explain-area mt-20">
<h2 class="explain">グラフを選択</h2>　
</div>
<p class="explain pc mb-20 ">地盤種別、スペクトル別波形データを選択してください。</p>
<p class="explain sp text-center">地盤種別、スペクトル別波形データを選択してください。</p>

<div class="selectSpectra">
  <form>
    <select [(ngModel)]="sd.selectedIndex" (change)='onSelectChange($event.target.value)'>
      <option *ngFor="let item of spectrumlist" [value]="item.id" [selected]="1" >
        {{item.name}}
      </option>
    </select>`
  </form>
</div>
<div class="chart">
  <canvas baseChart [datasets]="lineChartData" [labels]="lineChartLabels" [colors]="lineChartColors"
    [chartType]="lineChartType" [options]="lineChartOptions" >
  </canvas>
</div>

<div class="button-area next mt-20">
  <a routerLink="/explain">  
    <button class="button button-md button-white ">
   戻る
</button></a>
  <a routerLink="/underground">  
      <button class="button button-md color-y-bg ">
     次へ
  </button></a>
</div>