<ol class="stepBar">
  <li class="visited"><a routerLink="/chart"><span>1</span><br>グラフ<br>(入力)</a></li>
  <li ><a routerLink="/underground"><span>2</span><br>地下水位<br>(入力)</a></li>
  <li><a routerLink="/condition"> <span>3</span><br>室内土質試験<br>(入力)</a></li>
  <li><a routerLink="/wait"><span>4</span><br>結果</a></li>
</ol>

<div class="explain-area mt-20">
<h2 class="explain">グラフを選択</h2>
<div class="button-area">
  <button class="button button-md color-y-bg">
    <label>
      <span>
        ファイルを開く
        <input type="file" accept="application/liq" (change)="open($event)" style="display:none" />
      </span>
    </label>
  </button>
  <button class="button button-md color-y-bg" id="spectra_file" (click)="save()">ファイル保存</button>
</div>　
</div>
<p class="explain mb-20 pc">波形データ(SPRファイル)をファイル選択から読み込み、液状化情報を知りたいデータを選択してください。</p>

<div class="selectSpectra">
  <form>
    <select [(ngModel)]="sd.selectedIndex" (change)='onSelectChange($event.target.value)'>
      <option *ngFor="let item of spectrumlist" [value]="item.id" [selected]="1">
        {{item.name}}
      </option>
    </select>`
  </form>
</div>
<div class="chart">
  <canvas baseChart [datasets]="lineChartData" [labels]="lineChartLabels" [colors]="lineChartColors"
    [chartType]="lineChartType" [options]="lineChartOptions">
  </canvas>
</div>

<p class="explain mt-20 sp">※波形データ(SPRファイル)をファイル選択から読み込み、液状化情報を知りたいデータを選択してください。</p>