<ol class="stepBar">
    <li><a routerLink="/chart"><span>1</span><br>グラフ</a></li>
    <li><a routerLink="/underground"><span>2</span><br>地下水位</a></li>
    <li ><a routerLink="/condition"> <span>3</span><br>地盤状態</a></li>
    <li class="visited"><a routerLink="/wait"><span>4</span><br>結果</a></li>
  </ol>
  <div class="explain-area result mt-20 mb-20">
    <h2 class="explain">計算結果</h2>　
  </div>
  <div class="result"> 
    <table class="result">
      <tr>
        <th></th>
        <th>液状化を検討する深度<br>(m)</th>
        <th class="spnone">全上載圧<br>σv<br>(kN/m2)</th>
        <th class="spnone">有効上載圧<br>σv'<br>(kN/m2)</th>
        <th class="spnone">液状化強度比<br>R</th>
        <th class="spnone">せん断応力比<br>L</th>
        <th class="spnone">液状化抵抗率<br>FL</th>
        <th>判定</th>
      </tr>
      <tr *ngFor="let resultData of Data; index as i">
        <td class="result_number">{{i+1}}</td>
        <td>{{resultData[0]|number:'1.2-2'}}</td>
        <td class="spnone">{{resultData[1]|number:'1.1-1'}}</td>
        <td class="spnone">{{resultData[2]|number:'1.1-1'}}</td>
        <td class="spnone">{{resultData[3]|number:'1.3-3'}}</td>
        <td class="spnone">{{resultData[4]|number:'1.3-3'}}</td>
        <td class="spnone">{{resultData[5]|number:'1.3-3'}}</td>
        <td>{{resultData[6]}}</td>
      </tr> 
    </table>
  </div> 

  